/* Initialize the page */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

/* To freeze header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0)  */
/* .sticky + .content {
    padding-top: 102px;
} */

body {
    flex-flow: column;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    height: 1400px;
}

/* Define the first style properties */
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-bottom: 80px;;
}

.main__title {
    color: #00a5d1;
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    padding: 0;
    margin: 0;
    margin-top: 80px;
}

.figures {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figures__img {
    border-radius: 2px solid;
    width: 45%;
    height: 45%;
}

/* Footer properties */
.footer {
    background-color: salmon;
    height: 6rem;
    margin-top: auto;
}

.footer {
    background-color: white;
    display: flex;
    align-items: center;
    height: 170px;
    width: 100%;
}

.footer a {
    color: #00416d;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.container {
    margin-bottom: 80px;
}

/* Define the input selector properties */
.main__selector {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 30px;
    margin-left: 35%;
    width: 30%;
}

/* selector list properties */
.main__selector__input {
    background-color: #f6f6f6;
    border: 2px solid #1f3c88;
    border-radius: 25px;
    color: #1f3c88;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding: 0px 20px;
    width: 60%;
}

/* selector button properties */
.main__selector__button {
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: #00416d;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    padding: 0px 50px;
    outline: none;
}

.main__selector__button:hover {
    background: #3282b8 radial-gradient(circle, transparent 1%, #3282b8 1%) center/15000%;
}

/* table properties */
.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00a5d1;
    color: white;
}

/* year filter button */
.yearButton {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 35%;
    width: 30%;
}

.yearButton__input {
    background-color: #f6f6f6;
    border: 2px solid #1f3c88;
    border-radius: 25px;
    color: #1f3c88;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding: 0px 20px;
    width: 50%;
}

.main__button {
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: #00416d;
    /* border: none; */
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    /* margin-top: 50px;
    margin-bottom: 20px; */
    padding: 0px 20px;
    outline: none;
}

.main__button:hover {
    background: #3282b8 radial-gradient(circle, transparent 1%, #3282b8 1%) center/15000%;
    outline: none;
}

.main__button:focus {
    outline: none;
}
/* To avoid the outline after click the button */
.main__selector__button:focus {
    outline: none;
}